{% extends 'base/base_home.html' %}
{% load static %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 120px);">
    <div class="card shadow-lg text-center p-5" style="max-width: 600px;">
        <h2 class="mb-4">Link de Redefinição Enviado</h2>
        <p class="mb-4">Enviamos um e-mail com instruções para redefinir sua senha, caso exista uma conta com o e-mail fornecido. Você deve recebê-lo em breve.</p>
        <p class="mb-4">Se você não receber um e-mail, por favor, verifique sua pasta de spam ou <a href="{% url 'employees:password_reset' %}">tente novamente</a> com outro e-mail.</p>
        <a href="{% url 'employees:login' %}" class="btn btn-primary">Voltar para o Login</a>
    </div>
</div>
{% endblock %}