.header {
    color: var(--primary-dark) !important;
}

.section-body {
    background-color: var(--secondary-ultralight) !important;
    border: 1px solid var(--primary-dark) !important;
    padding: 1.5rem 2rem !important;
    border-radius: 0.5rem !important;
    margin-bottom: 1.5rem !important;
}

.info-label {
    font-weight: bold;
}